keys/
node_modules/
package-lock.json
dist/
circuits/voting_js/
circuits/voting.sym
circuits/voting.r1cs
voting_js/
tests/circuits/voting_input.json
tests/circuits/voting_proof.json
tests/circuits/voting_public.json
tests/circuits/voting.wtns
voting.r1cs
voting.sym
circuits/circomlib/
